<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar:hover {
            background: #CCCCFF;
        }
    </style>
</head>
<body style="background-color: #F8F8F8;">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" style="padding-top: 8px; padding-bottom: 8px; background-color: #6D7FCC;">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Shradhabookstores</span>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("Home", "Product", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Backend", "Index", "Categories")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @*@if(objEmployeeLogin == null)
        {
            <li>@Html.ActionLink("Login", "Login", "Home")</li>
        }*@

                    @if (Session["LoginUser"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    }
                    else
                    {
                        <li style="text-align: center;">
                            <span><i class="glyphicon glyphicon-user"></i></span><br />
                            <span>@Session["LoginUser"]</span>
                        </li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    }

                </ul>
            </div>


        </div>
    </nav>

    <div class="container-fluid body-content" style="background-color: #ffffff">
        @RenderBody()

    </div>
    
    <div class="container-fluid" style="margin-top: 5px;">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year, eProject-Sem3 Group2</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
