<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar {
            border: none;
            border-radius: 0;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        }
        .navbar:hover {
            background: #CCCCFF;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" style="padding-top: 8px; padding-bottom: 8px; background-color: #6D7FCC;">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Shradhabookstores</span>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("BOOKSTORE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Ex", "Ex", "Home")</li>*@

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("User", "Index", "Users")</li>
                    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    <li>@Html.ActionLink("Manufactures", "Index", "Manufactures")</li>
                    <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                    <li>@Html.ActionLink("Payments", "Index", "Payments")</li>

                    @*<li>@Html.ActionLink("Login", "Login", "Home")</li>*@

                    @if (Session["LoginUser"] == null)
                    {
                        @*<li><a href="/Users/Login" class="btn btn-warning">Shop Management</a></li>*@
                        @*<li>@Html.ActionLink("User", "Index", "Users")</li>*@
                        <li>@Html.ActionLink("Shop Management", "Login", "Users")</li>
                    }
                    else
                    {
                        <li>
                            <div class="dropdown">
                                <style>
                                    ul .dropdown-menu li a {
                                        background-color: #6D7FCC;
                                        color: white;
                                    }
                                </style>
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="height: 40px; margin-top: 5px;">
                                    <span><i class="glyphicon glyphicon-user"></i></span>&nbsp;&nbsp; <span>@Session["LoginUser"]</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="background-color: #6D7FCC;">
                                    <li><a href="#">Order Tracking</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Edit profile</a></li>
                                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                                </ul>
                            </div>
                        </li>
                    }

                </ul>
            </div>

            
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
        
    </div>
    <div class="container-fluid">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year, eProject-Sem3 Group2</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
